name: Update mesa
on:
  workflow_dispatch:
  schedule:
    # every 2 days at 2:09am (random time to avoid spikes in GitHub Actions usage)
    - cron: "09 2 */2 * *"

jobs:
  update-mesa:
    name: Update mesa
    runs-on: ubuntu-latest
    env:
      BUILD_REPO: 'https://gitlab.freedesktop.org/mesa/mesa.git'
      FOUND_MESA_UPDATE: ''
      MESA_TAG: ''
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Update
        run: |
          # Clone the repo into a temporary directory
          TEMP_DIR=$(mktemp -d /tmp/mesa-rc-copr.XXXXX)
          git clone "$BUILD_REPO" "$TEMP_DIR/mesa-git"

          # Fetch tags
          git -C "$TEMP_DIR/mesa-git" fetch --tags

          # Find the latest tag, e.g. `mesa-26.0.0-rc3`.
          # List all tags, sort by version, and take the last one
          MESA_TAG=$(git -C "$TEMP_DIR/mesa-git" tag -l 'mesa-*' | sort -V | tail -n1)
          echo "MESA_TAG=$MESA_TAG" >> $GITHUB_ENV
          echo "Latest tag: $MESA_TAG ($COMMIT)"
          COMMIT=$(git -C "$TEMP_DIR/mesa-git" rev-parse "$MESA_TAG")

          # Parse the tag.
          STRIPPED="${MESA_TAG#mesa-}" # e.g. `26.0.0-rc3`
          VERSION_STRING=${STRIPPED%%-*} # e.g. `26.0.0`
          VERSION_ADDENDUM=${STRIPPED#${VERSION_STRING}-} # e.g. `rc3`
          VERSION_ADDENDUM=${VERSION_ADDENDUM:-release} # `release` if empty (i.e. not release candidate)
          echo "VERSION_STRING: $VERSION_STRING"
          echo "VERSION_ADDENDUM: $VERSION_ADDENDUM"

          # Copy the template and replace placeholders
          cp fedora/mesa-git/mesa.spec.tpl fedora/mesa-git/mesa.spec.new
          sed -i "s/MESA_TAG/$MESA_TAG/" fedora/mesa-git/mesa.spec.new
          sed -i "s/VERSION_STRING/$VERSION_STRING/" fedora/mesa-git/mesa.spec.new
          sed -i "s/VERSION_ADDENDUM/$VERSION_ADDENDUM/" fedora/mesa-git/mesa.spec.new
          sed -i "s/COMMIT/$COMMIT/" fedora/mesa-git/mesa.spec.new

          # Check if the spec file has changed
          if cmp -s fedora/mesa-git/mesa.spec fedora/mesa-git/mesa.spec.new; then
            echo "FOUND_MESA_UPDATE=false" >> $GITHUB_ENV
            echo "Spec file was already up-to-date."
            rm fedora/mesa-git/mesa.spec.new
          else
            echo "FOUND_MESA_UPDATE=true" >> $GITHUB_ENV
            mv fedora/mesa-git/mesa.spec.new fedora/mesa-git/mesa.spec
            echo "Updated spec file to $MESA_TAG"
          fi

      - name: Create Pull Request
        if: env.FOUND_MESA_UPDATE == 'true'
        uses: peter-evans/create-pull-request@v8
        env:
          SUMMARY: "[mesa] Update to ${{ env.MESA_TAG }}"
        with:
          title: ${{ env.SUMMARY }}
          commit-message: ${{ env.SUMMARY }}
          branch: "update/mesa/${{ env.MESA_TAG }}"
          body: ${{ env.SUMMARY }}
          assignees: adil192
